body{
     min-height: 1000px;
}
main{
     width: 20%;
}

#search{
width: 600px;
     margin-left: 150px;
     border: 1px solid rgb(129, 129, 129);
}
.product p {
    
     font-weight: bold;
     color: rgb(61, 34, 34);
     margin-bottom: 2px;
}
.title{ 
color: rgb(42, 42, 145);
}
.icon{
     position: absolute;
     left: 95%;
     top: 15%;
     font-size: 30px;
     background-color: rgb(233, 200, 200);
     padding: 10px;
}
.icon button{
     background-color: rgb(233, 200, 200);
}
.price{
     position: absolute;
     left: 95%;
     top: 55%;
     
}
.price p{
     color: rgb(33, 33, 97);
     font-weight: bold;
     margin: 0;
}
.price h1{
     color: rgb(33, 33, 97);
     font-weight: bold;
}
.Vertical{
     border-left: 1px solid rgb(211, 201, 201);
     height: 100px;
     position: absolute;
     left: 85%;
     top: 55%;
}
.stock{
color: rgb(85, 4, 4);
}

@media (max-width:500px){
.product p {
     position: absolute;
     right: 80%;
 }
 .Vertical{
     display: none;
 }
 .icon{
     position: absolute;
     left: 100%;
     top: 20%;
     font-size: 25px;

}
.price p {
     font-weight: bolder;
     font-size:small ;

}

}
@media (max-width:992px){
     .Vertical{
          display: none;
      }
     .icon{
          position: absolute;
          left: 105%;
          top: 20%;
          font-size: 30px;
     
     }
     .price{
          position: absolute;
          left: 95%;
          top: 75%;
          
     }
     .price p {
          font-weight: bolder;
          font-size:small ;
     }
     
     

}
